name: Docker Image CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    
    - name: Login to DockerHub
      run: docker login --username={{ secrets.DOCKERHUB_USER }} --password={{ secrets.DOCKERHUB_PASS }}
    
    - name: Build the Docker image
      run: docker build . --file Dockerfile --tag paulohgodinho/jenkins-for-pipeline-linting:latest
    
    - name: Push to DockerHub
      run: docker push paulohgodinho/jenkins-for-pipeline-linting:latest
